*{ margin: 0;}

table{width: 100%;
height: 100vh;}

#linha1 {height:180px ;}
#linha2 {height:150px ;}
#linha3 {height:270px ;}
#linha4 {height:75px ;}
#linha5 {height:75px ;}

.num1 {width:28% ;
background-color: rgb(114 41 122);}
.num2 {width:32% ;
    background-color: rgb(114 41 122);
text-align: right;}
.num3 {width: 10px;
    background-color: rgb(114 41 122);}
.num4 {width:29% ;
    background-color: rgb(114 41 122);}
.num5 {width:6% ;background-color: rgb(114 41 122);}
.num6 {width:21% ;
    background-color: rgb(114 41 122);
    padding: 0.5%;
vertical-align: top;
text-align: center;}
.num7 {width:20% ;background-color: rgb(114 41 122);
text-align: justify ;
padding:2%;
vertical-align: top;
font-size: 1.3em;}
.num8 {width:28% ;background-color: rgb(114 41 122);
vertical-align: bottom;
padding: 0.5%}
.num9 {width: ;background-color: rgb(114 41 122);}
.num10 {background-color: rgb(114 41 122);}
        .num11{ background-color: rgb(114 41 122);}
    .num12 {background-color: rgb(114 41 122);}
